<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1JO0_acevY9eII9x6JVuBWhaPcfPys9s</string>
	<key>GCM_SENDER_ID</key>
	<string>932017506304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoTest1</string>
	<key>PROJECT_ID</key>
	<string>shetidhan-84856</string>
	<key>STORAGE_BUCKET</key>
	<string>shetidhan-84856.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932017506304:ios:86e72c5a9f6c0c124fb0e5</string>
</dict>
</plist>